.content
  .row
    .span8.title
      Transit
  .row
    .span1.label_text
      From
    .span7
      %input#from{placeholder: 'Start from here'}
  .row
    .span1.label_text
      To
    .span7
      %input#to{placeholder: 'Stop here'}
  .row
    .span1
      &nbsp;
    .span7
      %a.btn.btn-primary#find-route{href: '#'}
        Find Route
  .row.route
