.content
  .row
    .span8.title
      Transit : 
      %span.city
  .row
    .span4.caption
      Built with
      %a{href: "http://apify.heroku.com/resources/4fe8cd0659adf60001000028", target: '_blank'}
        APIfy.
      Coming Soon for more cities
      (
      %a{href: "https://github.com/apifyapps/public_transit", target: '_blank'}
        Github
      )
  .row
    &nbsp;
  .row
    .span1.label_text
      From
    .span7
      %input#from{placeholder: 'Start from here'}
  .row
    .span1.label_text
      To
    .span7
      %input#to{placeholder: 'Stop here'}
  .row
    .span1
      &nbsp;
    .span7
      %a.btn.btn-primary#find-route{href: '#'}
        Find Route
  .row
    %table.route_table{style: 'display:none'}
      %thead
        %tr
          %th.route-title
            Route
          %th.stop-title
            Stop
      %tbody.contents

